.all-tags {
    display: flex;
    margin-left: 7.5%;
    margin-top: 20px; 
}
  
.list-tags {
    list-style-type: none;
    display: flex;
    gap: 10px;
}
  
.item-tags {
    font-family: 'Roboto', sans-serif; 
    background-color: #ff5a5f; 
    color: white;
    padding: 10px 40px;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
}

@media (max-width: 768px) {
    .list-tags {
        list-style-type: none;
        display: flex;
        font-size: 1.5vw;
        /* gap: 10px; */
    } 

    .item-tags {
        font-family: 'Roboto', sans-serif; 
        background-color: #ff5a5f; 
        color: white;
        font-size: 2.3vw;

        border-radius: 10px;
        font-weight: bold;
        text-align: center;
    }
}

  
