.home-all {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.img-fond {
    position: relative;
    width: 85%;
    border-radius: 25px;
    margin-top: 2%;
    margin-left: 7.5%;
}
  
.image-home {
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 25px;
}
  
.text-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 98%;
    background: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 25px;
    font-family: 'Roboto', sans-serif; 
}
  
.text-image p {
    font-size: 2.5rem;
    text-align: center;
}

@media (max-width: 768px) {
    .img-fond {
      height: 160px;
    }

    .image-home {
       height: 159px;
    }

    .text-image p {
        font-weight: bold;
        margin-right: 27vw;
        margin-left: 7vw;
        font-size: 6vw; 
        text-align: left;
    }

}
  

