.erreur-all {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh; 
    padding: 20px; 
    font-family: 'Roboto', sans-serif; 
}
  
.erreur-titre {
    font-size: 10rem; 
    color: #ff6f61;    
}
  
.erreur-text {
    font-size: 25px; 
    color: #ff6f61;
    margin: 20px ;
}
  
.erreur-lien {
    font-size: 16px; 
    color: black; 
    margin-top: 20px;
}


@media (max-width: 768px) {
     
.erreur-titre {
    font-size: 7rem;    
}

.erreur-text {
    padding-left: 15%;
    font-size: 5.2vw;
    color: #ff6f61;
    margin: 20px ;
}
  }
  
  
  