.card-all {
  display: flex;
  justify-content: center;
  padding-left: 5%;
}

.card {
  background-color: #ff6f61;
  color: white;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  height: 270px; 
  width: 297px;
  margin: 20px;
  text-decoration: none;
}

.card-cover-container {
  width: 100%;
  height: 200px; 
  
}

.card-cover {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
}

.card-content {
  padding: 10px;
}

.card-title {
  margin-top: 5%;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 15px;
}


@media (max-width: 768px) {
  .card-all {
    padding-left: 0;
  }
  .card {
    width: 85vw;
  }
}


  